<!DOCTYPE html>
<html>
  <head><title>Heroku</title></head>
  <body>
    <h1>¡Página en Heroku! Suludos desde Heroku</h1>
    <h2>Adicto a las mamás solteras!!!</h2>
    <button onclick="location.href='https://heroku-deployment-0de4ea1c85ec.herokuapp.com'">Ir a Heroku</button>
    <button onclick="location.href='https://shark-app-az7mh.ondigitalocean.app'">Ir a DigitalOcean</button>
  </body>
</html>
<style>
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
    }
    h1 {
      color: #333;
    }
    button {
      background-color: #ac4caf; /* Purple */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

